
/* 
:root{
    --primary:#009347
} */


body{
    /* padding-top: 8%; */
    background-color: #fcfeff !important;
}

.green-link{
    color: var(--primary) !important;
}
.conatiner{
    padding-left: 3%;
    padding-right: 3%;
    /* padding-bottom: 5%; */
    /* background-color: rgb(224, 226, 228); */
    /* padding-top: 8%; */
/* background-color: red; */
}
input[type='radio'] {
    /* accent-color: #29a703; */
    accent-color: var(--primary);
}
.question{
    /* background-color: green; */
    width: 100%;
    height: 150px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: left;
    justify-content: center;
}
.score{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    flex: 1;

}

p{
    margin-left: 15px;
}
.scores{
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    align-items: center;
    justify-content: space-around;
    /* text-align: center; */
    /* flex-wrap: wrap; */
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    /* flex-direction: row; */
}



/* Score page */

.scores-body {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* height: 100vh; */
    /* background-color: red; */
    margin: 0;
    /* background-color: #f4f4f4; */
    font-family: 'Arial', sans-serif;
}
.score-container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
    /* max-width: 70%; */
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.score-container-finished{
    background-color: rgb(190, 188, 188);
    color: grey;
    cursor: text;
}

.score-lights{
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
    /* max-width: 70%; */

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.score-title {
    color: #333;
}

.score-text {
    color: #555;
    font-size: 18px;
}

.score-value {
    color: #3498db;
}

.bg-red{
    
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:solid; */
    border-width: 2px;
    background-color: #fcebeb;
    color: red;
    animation:  7s hidder;

}

.bg-green{
    background-color: rgb(226, 252, 226);
    color: green;
    animation:  7s hidder;

}

.bg-yellow{
    background-color: rgb(250, 250, 191);
    color: orange;
    animation:  7s hidder;

}

.bg-normal{
    background-color: rgb(204, 201, 201);
    color: #111;
    animation:  2s hidder;

}
.traffic-description{
    /* min-width: 40%; */
    /* min-height: 200px; */
    max-width: 50%;
    border-radius: 5px;
    margin-top: 2%;
    /* background-color: rgb(175, 8, 8); */
    /* background-color: #29a703; */
    /* background-color: yellow; */
    padding: 2%;
    /* color: #fff; */

}


.traffic-actions{
    margin-top: 3%;
}

.dashboard-layers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
    /* background-color: red; */
    width: 80%;
}


/* Home page */

.home-body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    /* background-color: #f4f4f4; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    /* justify-content: center; */
    min-height: 100vh;
}
.home-sub-title{
    font-size: 20px;
    text-align: left;
    margin-left: 0px;
    color: #000;
    padding-top: 15%;
}
.home-title {
    /* color: #333; */
    /* color: var(--primary); */
    color: #000;
    text-align: left;
    font-size: 55px;
}

.home-description {
    color: #555;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.home-start-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.home-layer-container{
    display: 'flex';

}
.start-button:hover {
    background-color: #2980b9;
}

.about-evaluation{
    color: var(--primary);
}
/* Contacts page */

.contact-body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    padding-top: 8%;
    min-height: 100vh;
}

.contact-page-title {
    color: #333;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
}

.contact-name {
    margin-top: 0;
    color: #3498db;
}

.contact-info {
    margin: 0;
    color: #555;
}

/* About us page */

.about-body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    /* background-color: #f4f4f4; */
    /* padding-top: 8%; */
    height: 100vh;
}

.about-title {
    color: #333;
}

.about-description {
    color: #555;
    font-size: 18px;
    margin-bottom: 20px;
}

.team-member {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;

}

.team-member a{
    color: var(--primary);

}

.member-name {
    margin-top: 0;
}


.member-role {
    margin: 0;
    color: #777;
}

/* footer */

.rri-footer-link{
    color: var(--primary);
}


/* Progress bar */

.progress {
    width: 50%;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 10px;
    height: 10px;
  }

  .progress::-webkit-progress-bar {
    background-color: #f0f0f0;
  }

  .progress::-webkit-progress-bar,
  .progress::-webkit-progress-value {
    border-radius: 10px;
  }

  .progress::-moz-progress-bar {
    border-radius: 10px;
  }

  .progress1::-webkit-progress-value {
    background: var(--primary);
  }

  .progress2::-webkit-progress-value {
    background: #ffb453;
  }

  .progress3::-webkit-progress-value {
    background: #3fff76;
  }

  

/* Traffic lights */


.trafficlight{
    background: #222;
    background-image: linear-gradient(transparent 2%, #111 2%, transparent 3%, #111 30%);
    width: 70%;
    height: 130px;
    border-radius: 20px;
    position: relative;
    border: solid 5px #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .active{
    opacity: 1;
  }
  .desactivated{
    opacity: .1;
  }
  
  .red{
    /* opacity: .1; */
    background: red;
    background-image: radial-gradient(brown, transparent);
    background-size: 5px 5px; 
    /* width: 15%; */
    /* height: 85%; */
    /* border-radius: 50%; */
    /* position: absolute; */
    top: 20px;
    left: 35px;
    animation: 4s red;
    border: dotted 2px red;
    box-shadow: 
      0 0 20px #111 inset,
      0 0 10px red;

      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      margin: 3px;
      border-radius: 50%;
  }
  
  .yellow{
    /* opacity: .1; */
    /* background: yellow; */
    background-color: orange;
    /* background-image: radial-gradient(orange, transparent); */
    background-image: radial-gradient(yellow, transparent);

    background-size: 5px 5px;
    /* width: 15%;
    height: 85%;
    border-radius: 50%; */
    /* border: dotted 2px yellow; */
    border: dotted 2px orange;
    top: 145px;
    left: 35px;
    animation: 4s yellow;
    animation-delay: 0.5s;
    box-shadow: 
      0 0 20px #111 inset,
      0 0 10px yellow;

      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      margin: 3px;
      border-radius: 50%;
  }
  
  .green{
    /* opacity: .1; */
    background: green;
    background-image: radial-gradient(lime, transparent);
    background-size: 5px 5px;
    /* width: 15%;
    height: 85%;
    border-radius: 50%; */
    border: dotted 2px lime;
    /* position: absolute; */
    top: 270px;
    left: 35px;
    box-shadow: 
      0 0 20px #111 inset,
      0 0 10px lime;
    animation: 4s green;
    animation-delay: 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 3px;
    border-radius: 50%;
  }

  
  
    
  /* Animations */


  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


  @keyframes red{
    0%{opacity: .1}
    20%{opacity: .1}
    40%{opacity: 1}
    50%{opacity: .1}
    60%{opacity: .1}
    80%{opacity: .1}
    100%{opacity: 1}
  }
  
  @keyframes yellow{
    0%{opacity: .1}
    20%{opacity: .1}
    40%{opacity: 1}
    50%{opacity: .1}
    60%{opacity: .1}
    80%{opacity: .1}
    100%{opacity: 1}
  }

  @keyframes hidder {
    /* 0%{opacity: .1}
    10%{opacity: .2}
    20%{opacity: .3}
    30%{opacity: .3}
    40%{opacity: .3}
    50%{opacity: .6}
    60%{opacity: .6}
    70%{opacity: .6}
    80%{opacity: .8}
    90%{opacity: .8}
    100%{opacity: 1} */

    0%{display: none}
    10%{display: none}
    20%{display: none}
    30%{display: none}
    40%{display: none}
    50%{display: none}
    60%{display: none}
    70%{display: none}
    80%{display: block}
    90%{display: block}
    100%{display: block}
  }
  
  @keyframes green{
    0%{opacity: .1}
    20%{opacity: .1}
    40%{opacity: 1}
    50%{opacity: .1}
    60%{opacity: .1}
    80%{opacity: .1}
    100%{opacity: 1}
    /* 0%{opacity: .1}
    20%{opacity: .1}
    40%{opacity: .1}
    60%{opacity: 1}
    80%{opacity: 1}
    83%{opacity: .1}
    86%{opacity: 1}
    89%{opacity: .1}
    93%{opacity: 1}
    96%{opacity: .1}
    100%{opacity: 1} */
  }


  /* Create Project Modal CSS */

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
  }
  
  .modal-body {
    /* width: 70%; */
    height: 60%;
    background-color: #fff;
    padding: 2% !important;
    /* position: relative; */
  }

  .navigation-buttons{
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
  }

.navigation-buttons > button{
    min-width: 60px;
    margin-left: 5%;
    margin-right: 5%;
    border-width: 1px;
    border-radius: 3px;
}

/* Dashboard */

@media screen and (min-width: 850px) {
    .scores-desktop{
        display: block;
    }
    
    .scores-phone{
       display: none;
    }
}

@media screen and (max-width: 850px) {
    /* Your CSS rules for screens with width up to 400px */
    .dahboard-board{
        flex-wrap: wrap-reverse !important;
    }
    .description-board{
        width: 100% !important;
        height: 75% !important;
        padding-top: 10px;
    }
    .lights{
        width: 100% !important;
        flex-direction: row !important;   
        height: 20% !important;
    }
    .red{
        width: 70px;
        height: 70px;
    }
    .green{
        width: 70px;
        height: 70px;
    }
    .yellow{
        width: 70px;
        height: 70px;
    }
    .question{
        font-size: 12px;
    }

    .scores-desktop{
        display: none !important;
    }
    
    .scores-phone{
       display: block !important;
    }
   
  }

